
.display-5{
    
    text-align: center;
}
p{
    text-align: center;
}
header{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #f5f5f5;
}
.tag {
    color: #f5f5f5;
    background-color: #000;
}